#navbar {
  height: 7vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;

  svg {
    width: 1vw;
    height: 2vh;
  }

  .ant-menu-title-content {
    font-size: large;
    font-weight: 500;
  }
}
