.user-card {
  border-radius: 12px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 576px) {
  .button-group {
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .button-group {
    flex-direction: column;
    gap: 10px;
  }
}
